* {
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}

p {
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#background {
    position: absolute;
    inset: 0;
}

#background .pane {
    position: absolute;
    inset: 0;
    background: rgb(64, 64, 64);
}

#background .tiles {
    position: absolute;
    inset: 0;
}

#ui, #canvas-container {
    position: absolute;
    inset: 8px 8px 48px 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

#ui {
    pointer-events: none;
}

#canvas-container {
    background: rgb(200, 200, 200);
}

#logo {
    width: 50%;
    height: 50%;
    filter: drop-shadow(2px 2px 0 black);
}

.handwriting {
    font-family: 'Shadows Into Light', cursive;
}

.loading-text {
    font-size: 4vw;
}

#canvas {
    border-radius: 16px;
}
