* {
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}

p {
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#background {
    position: absolute;
    inset: 0;
}

#background .pane {
    position: absolute;
    inset: 0;
    background: rgb(64, 64, 64);
}

#background .tiles {
    position: absolute;
    inset: 0;
    background-image: url("pen.svg");
    background-repeat: repeat;
    background-size: 32px 32px;
    opacity: 0.1;
}

#load-screen {
    opacity: 0;
    transition: 1s opacity;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    position: absolute;
    inset: 8%;
    background: #c8c8c8;
    pointer-events: none;
}

#canvas-container {
    border-radius: 16px;
    position: absolute;
    inset: 8px 8px 48px 8px;
}

#logo {
    width: 50%;
    height: 50%;
    filter: drop-shadow(2px 2px 0 black);
}

.handwriting {
    font-family: 'Shadows Into Light', cursive;
}

.loading-text {
    font-size: 4vw;
}

#canvas {
    opacity: 0;
    border-radius: 16px;
}
